body {
	height: 100%;
}
button {
	width: 25px;
	height: 25px;
}
#images {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#images img {
	width: 240px;
	height: auto;
	padding-bottom: 15px;
}
#images div {
	display: none;
}
.ui-dialog {
	position: fixed;
}
